<div class="main">
<div class="create">
<h1>LOMAX</h1>
<form method="post" action="">
      <p><input type="text" name="name" value="" placeholder="Full Name"></p>      
      <p><input type="text" name="email" value="" placeholder="Email"></p>
      <p><input type="text" name="user" value="" placeholder="Username"></p>
      <p><input type="text" name="password" value="" placeholder="Password"></p>
      <p class="remember_me">
        <label>
          <input type="checkbox" name="remember_me" id="remember_me">
          Remember me on this computer
        </label>
      </p>
      <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>
</div>
</div>
