<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet"></link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lomax - Home</title>
</head>
<body>
    <header  id='header-wrapper'>
        <h1 id='header-title'>LOMAX</h1>
    </header>
    {{{body}}}
</body>
</html>