<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/index.js" chraset="utf-8" defer></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet"></link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lomax - Home</title>
</head>
<body>
    <header  id='header-wrapper'>
        <h1 id='header-title'><a href="profile">LOMAX</a></h1>
    </header>
    {{{body}}}
</body>
<footer id="song-player">
            <div class='result-img' ></div>
            <h3>Current Song Playing</h3>
            <h6>ARTIST NAME - Album Name</h6>
</footer>
</html>