<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/index.js" chraset="utf-8" defer></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet"></link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lomax - Home</title>
</head>
<body>
    <header  id='header-wrapper'>
        <h1 id='header-title'><a href="profile">LOMAX</a></h1>
        <form>
            <h3>{{username}}</h3>
            <button>Log Out</button>
        </form>    
    </header>
    {{{body}}}
</body>
</html>