<div class="upload">
<div class="uploadtrack">
<h1>Upload Track</h1>
<form method="post" action="">
      <p><input type="text" name="name" value="" placeholder="Track Name"></p>      
      <p><input type="text" name="email" value="" placeholder="ft."></p>
      <p><input type="text" name="user" value="" placeholder="Details"></p>
  
      <form action="/action_page.php">
      <label for="myfile">Select a file:</label>
      <input type="file" id="myfile" name="myfile"><br><br>
      <input type="submit">
      </form>
</div>
</div>