<div class="create">
<h1>LOMAX</h1>
<form method="post" action="/register">
      <p><input type="text" name="login" value="" placeholder="Full Name"></p>      
      <p><input type="text" name="login" value="" placeholder="Email"></p>
      <p><input type="text" name="login" value="" placeholder="Username"></p>
      <p><input type="text" name="login" value="" placeholder="Password"></p>
      <p><input type="password" name="password" value="" placeholder="create password"></p>
      <p class="remember_me">
        <label>
          <input type="checkbox" name="remember_me" id="remember_me">
          Remember me on this computer
        </label>
      </p>
      <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>
</div>



{{!-- <div class="container">
  <div class="create">
    <h1>LOMAX</h1>
    <form method="post" action="">
      <p><input type="text" name="login" value="" placeholder="Full Name"></p>      
      <p><input type="text" name="login" value="" placeholder="Email"></p>
      <p><input type="text" name="login" value="" placeholder="Username"></p>
      <p><input type="text" name="login" value="" placeholder="Password"></p>
      <p><input type="password" name="password" value="" placeholder="create password"></p>
      <p class="remember_me">
        <label>
          <input type="checkbox" name="remember_me" id="remember_me">
          Remember me on this computer
        </label>
      </p>
      <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>
  </div>
 
  <div class="login-help">
    <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
  </div>


</div>*/ --}}
