<div class='row-flex'>
        <div id='user-profile-image'></div>
        <div>
            <h1 id='profile-name'>DISPLAY NAME</h1>
            <div class='button-row'>
                <button id='follow-button'>Follow</button>
                <button ><a href="uploadtrack">Upload Track</a></button>
                <button ><a href="uploadalbum">Upload Album</a></button>
            </div>
            <p id="bio">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quod fuga! Nemo esse qui tempore omnis dolore, quasi optio! Itaque omnis voluptatibus, eaque ea sed ut magni tempore quas error?
            </p>
        </div>
</div>
<div class='row-flex'>
    <div>
        <h3>1,234 Followers</h3>
        <h3>8 Following</h3>
        <div class="hyperlinks">
        <a href="https://www.google.com/">Website</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="https://www.twitter.com/">Twitter</a>
        </div>

    </div>
</div>
