<div class="column-flex">
  <h1>LOMAX</h1>
  <div class='login-wrapper'>
    <form method="post" action="" class="column-flex login">
      <a>
        <span class='left-span'>Username:</span>
        <span class='right-span'>
          <input type="text" name="login" value="">
        </span>
      </a>
      <a>
        <span class='left-span'>Password:</span>
        <span class='right-span'>
          <input type="password" name="password" value="">
        </span>
      </a>  
        <div class="column-flex">
          <label>
              <input type="checkbox" name="remember_me" id="remember_me">
              Remember me on this computer
            </label>

          <input type="submit" name="commit" value="Login" id='login-submit'>
        </div>
    </form>
  </div>
</div>
