<div class='row-flex'>
        <div id='user-profile-image'></div>
        <div>
            <h1 id='profile-name'>DISPLAY NAME</h1>
            <div class='button-row'>
                <button >Follow</button>
                <button >Button 2</button>
                <button >Button 3</button>
            </div>
        </div>
</div>
<div class='row-flex'>
    <div >
        <h3>1,234 Followers</h3>
        <h3>8 Following</h3> 
    </div>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quod fuga! Nemo esse qui tempore omnis dolore, quasi optio! Itaque omnis voluptatibus, eaque ea sed ut magni tempore quas error?
    </p>
</div>