<div class='search-wrapper'>
    {{!-- <div id="search-bar">
        <input id='search-input' type="text" placeholder="Search for songs and users" value="" autocomplete="off"/>
        <button type="submit"><i class="fa fa-search"></i></button>    
    </div> --}}

    <div class="wrap">
     <div class="search">
      <input type="text" class="searchTerm" placeholder="Search for artists, songs and users">
      <button type="submit" class="searchButton" >
          ></button>
    </div>
    </div>

    <h2>Discover Stream</h2>
    <h3>Songs and Albums</h3>
    <div class='results-wrapper' >
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Song 1</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Album 1</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Song 2</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Song 3</h3>
        </div>
    </div>
    <h3>Artists</h3>
    <div class='results-wrapper' >
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Artist 1</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Artist 2</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Artist 3</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Artist 4</h3>
        </div>
    </div>        
</div>