<div class='search-wrapper'>
    <div>
        <h1>Search</h1><input />
    </div>
    <h2>Artists</h2>
    <div class='results-wrapper' >
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Result 1</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Result 1</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Result 1</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Result 1</h3>
        </div>
    </div>
    <h2>Songs</h2>
    <div class='results-wrapper' >
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Result 1</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Result 1</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Result 1</h3>
        </div>
        <div class='result-wrapper'>
            <div class='result-img' ></div>
            <h3>Result 1</h3>
        </div>
    </div>        
</div>