<div class="uploada">
<div class="uploadalbum">
<h1>Upload Album</h1>
<form method="post" action="">
      <p><input type="text" name="name" value="" placeholder="Track 1"></p>      
      <p><input type="text" name="email" value="" placeholder="ft."></p>
      <p><input type="text" name="user" value="" placeholder="Details"></p>
      
      <form action="/action_page.php">
      <label for="myfile">Select a file:</label>
      <input type="file" id="myfile" name="myfile"><br><br>
      <input type="submit">
      </form>

      <p><input type="text" name="name" value="" placeholder="Track 2"></p>      
      <p><input type="text" name="email" value="" placeholder="ft."></p>
      <p><input type="text" name="user" value="" placeholder="Details"></p>

      <form action="/action_page.php">
      <label for="myfile">Select a file:</label>
      <input type="file" id="myfile" name="myfile"><br><br>
      <input type="submit">
      </form>

      <p><input type="text" name="name" value="" placeholder="Track 3"></p>      
      <p><input type="text" name="email" value="" placeholder="ft."></p>
      <p><input type="text" name="user" value="" placeholder="Details"></p>

      <form action="/action_page.php">
      <label for="myfile">Select a file:</label>
      <input type="file" id="myfile" name="myfile"><br><br>
      <input type="submit">
      </form>

      <p><input type="text" name="name" value="" placeholder="Track 4"></p>      
      <p><input type="text" name="email" value="" placeholder="ft."></p>
      <p><input type="text" name="user" value="" placeholder="Details"></p>

      <form action="/action_page.php">
      <label for="myfile">Select a file:</label>
      <input type="file" id="myfile" name="myfile"><br><br>
      <input type="submit">
      </form>

      <p><input type="text" name="name" value="" placeholder="Track 5"></p>      
      <p><input type="text" name="email" value="" placeholder="ft."></p>
      <p><input type="text" name="user" value="" placeholder="Details"></p>

      <form action="/action_page.php">
      <label for="myfile">Select a file:</label>
      <input type="file" id="myfile" name="myfile"><br><br>
      <input type="submit">
      </form>

      <p><input type="text" name="name" value="" placeholder="Track 6"></p>      
      <p><input type="text" name="email" value="" placeholder="ft."></p>
      <p><input type="text" name="user" value="" placeholder="Details"></p>
  
      <form action="/action_page.php">
      <label for="myfile">Select a file:</label>
      <input type="file" id="myfile" name="myfile"><br><br>
      <input type="submit">
      </form>
</div>
</div>